/*Reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
}
nav,ul{
    list-style: none;
}

/*Cabeçalho*/
header{
    padding: 20px 2%;
    background-color: #9ba000;
}
header a{
    color: #F2ECE4;
    font-size: 1.5rem;
}
header i{
    margin-left: 6px;
    color: #565902;
}

/*Apresentação*/
.apresentacao{
    display: flex;
    padding: 5% 2%;
    background-image: url(../img/apresentacao.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
}
.apresentacao .info h1{
    font-size: 2.5rem;
    color: #F2ECE4;
}
.apresentacao .info h3{
    font-size: 1.5rem;
    color: #F2ECE4;
    margin-bottom: 5px;
}
.apresentacao .info hr{
    width: 100px;
    height: 2px;
    border: none;
    background-color: #BFB524;
    margin-bottom: 20px;
}

/*Conheça*/
.conheca{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 2%;
    background-color: #f9fbe7;
}
.conheca h1{
    font-size: 1.8rem;
    color: #565902;
    margin-bottom: 5px;
}
.conheca hr{
    width: 200px;
    height: 2px;
    border: none;
    background-color: #565902;
    margin-bottom: 50px;
}
.conheca h2{
    color: #565902;
    margin-bottom: 50px;
}
.apartamentos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 900px;
    border-bottom: 1px solid #565902;
    margin-bottom: 30px;
}
.apartamento-box img{
    width: 100%;
    max-width: 400px;
}
.apartamento-box h2{
    color: #565902;
}
.area-social{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 900px;
}
.area-social-box img{
    width: 100%;
    max-width: 400px;
}

/*Localização*/
.localizacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 5px;
    color: #565902;
    background-color: #f1f8e9;
}
.localizacao h1{
    margin-bottom: 20px;
}
.localizacao iframe{
    width: 100%;
    max-width: 900px;
}

/*Formulario*/
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    color: #565902;
    padding: 5px;
}
.formulario h1{
    margin-bottom: 20px;
}
.formulario h2{
    margin-bottom: 20px;
    color: #ef5350;
}
.formulario h3{
    margin-bottom: 10px;
}
.formulario form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}
.formulario input{
    padding: 10px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
    color: #565902;
}
.formulario button{
    padding: 10px;
    border: none;
    background-color: #565902;
    color: #fff;
    width: 100%;
    max-width: 400px;
    font-size: 1.2rem;
}
.formulario button:hover{
    background-color: #222601;
    cursor: pointer;
}

/*Footer*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #222601;
}
footer ul{
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
}
footer li{
    margin-right: 10px;
}
footer li a{
    color: #9ba000;
    font-size: 1.2rem;
}
footer li a :hover{
    color: #fff;
}
footer p{
    margin-bottom: 20px;
    font-size: .9rem;
    color: #9ba000;
}



